@font-face {
    font-family: 'Fira';
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@media screen and (width <=1000px) {
    main {
        flex-wrap: wrap;
        font-size: large;
    }
}
body {
    background-color: #353337;
    min-height: 100vh;
    font-family: Fira;
    display: grid;
    grid-template-rows: 3.5rem auto auto;
    padding: 0;
    margin: 0;
}


main {
    height: 100%;
    color: #e6e6e7;
    padding-left:10%;
    padding-right:10%;
    padding-top:50px;



}

h1 {
    font-size: 22px;
    margin-top: 0.25em;
    border-bottom: 2px solid #daa520;
}
h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
    padding: 10px;
}



a {
    color: #da5b20;
}

footer {
    max-height: 3rem;
    font-size: smaller;
    color: #daa520;
    background-color: #232025;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    align-self: self-end;
    bottom: 0px;

}

footer a {
    color:#da5b20;
}



#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
}

/* #container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;
} */



#hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
}

@media screen and (max-height: 368px) {

}

@media screen and (max-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    #hero {
        display: block;
        padding-top: 10%;
    }

    #links {
        flex-wrap: wrap;
    }

    #links a.button {
        padding: 14px 18px;
    }

    #news {
        right: 16px;
        left: 16px;
        bottom: 2.5rem;
        max-width: 100%;
    }

}