---
import Layout from '../layouts/Layout.astro';

---

<Layout>

	<p>Welcome to the MV website!</p>
<h1 id="what-is-meteacsc-about-about-">What Is MeteaCSC About? <a href="#about"></a></h1>
<p>The Metea Valley Computer Science Club is about all things related to computers! Our club has three major sections: Competitive - which does competitions like ACSL, Beginner - where you learn the basics of languages like Python, and Niche - which is about whatever interest in CS that you have!</p>
<h1 id="club-info">Club Info</h1>
<h3 id="contact">Contact</h3>
<blockquote>
<p>Email:
<a href="mailto:mvcomputerscience09@gmail.com">mvcomputerscience09@gmail.com</a></p>
<p>Instagram: @mvcomputerscience</p>
<p>Sponsors: Mr. Fox and Mr. Jalkut</p>
</blockquote>
<h3 id="meetings">Meetings</h3>
<blockquote>
<p>Time: <strong>Thursdays 2:30 - 3:30 PM</strong></p>
<p>Locations: Room D109 - Main room</p>
</blockquote>


</Layout>
