---
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import Nav from '../components/nav.astro';
import Header from '../components/header.astro';

---

<!doctype html>
<html lang="en">
	<Head/>
	<Nav/>
	<Head/>
	<body>
		
		<main>
			<slot />
		</main>
	</body>
	<Footer/>
</html>

