---
import type { MarkdownLayoutProps } from 'astro';
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';

type Props = MarkdownLayoutProps<{
  title: string;
}>;

const { frontmatter, url } = Astro.props;
---

<html lang="en">
    <Head title ={frontmatter.title} />
  <body>
    <Nav />
    <main class="center" transition:animate="fade">
    <slot />
    <button type="button" style = "margin-top:40px; bottom: 10px; background-color: var(--shadow);" onclick="window.location='/Astro-Blog/'">&larr; Back</button>
    </main>
    <Footer/>
  </body>
</html>

